@using Nop.Web.Models.Catalog
@using Nop.Core

@model TopMenuModel
@inject IStoreContext storeContext

@{
    var isRtl = await this.ShouldUseRtlThemeAsync();
    var currentStore = await storeContext.GetCurrentStoreAsync();
    var storeId = currentStore.Id;
}

<input type="hidden" value="@isRtl.ToString().ToLowerInvariant()" id="isRtlEnabled" />

<ul class="top-menu">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMenuBefore })
    @if (Model.DisplayHomepageMenuItem)
    {
        <li><a href="@Url.RouteUrl("Homepage")">@T("Homepage")</a></li>
    }

    @{
        var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
    }
    @foreach (var category in rootCategories)
    {
        var categoryLineModel = new TopMenuModel.CategoryLineModel
        {
            Category = category
        };
        @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
    }
    @foreach (var topic in Model.Topics)
    {
        <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
    }
    @if (Model.NewProductsEnabled && Model.DisplayNewProductsMenuItem)
    {
        <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
    }
    @if (Model.DisplayProductSearchMenuItem)
    {
        <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
    }
    @if (Model.DisplayCustomerInfoMenuItem)
    {
        <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
    }
    @if (Model.BlogEnabled && Model.DisplayBlogMenuItem)
    {
        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
    }
    @if (Model.ForumEnabled && Model.DisplayForumsMenuItem)
    {
        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
    }
    @if (Model.DisplayContactUsMenuItem)
    {
        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
    }

    @* Hawthorne button for store 3 - show on all pages *@
    @if (storeId == 3)
    {
        <li class="mega-menu-categories hawthorne-link" style="background-color:#02463b; width: auto; height: 46px;">
            <a href="https://hawthorne.abcwarehouse.com/">
                <img class="hawthorne-logo" src="https://www.abcwarehouse.com/images/hawthorne/Hawthorne-Logo-Gold-email.png" alt="hawthorne logo">
            </a>
        </li>
    }

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMenuAfter })
</ul>

<script type="text/javascript" asp-location="Footer">
    (function($, ssCore) {

        $(document).ready(function () {

            ssCore.prepareTopMenu();
        });

    })(jQuery, sevenSpikesCore);
</script>