@model AbcWarehouse.Plugin.Misc.SearchSpring.Models.SearchResultModel
@inherits Nop.Web.Framework.Mvc.Razor.NopRazorPage<AbcWarehouse.Plugin.Misc.SearchSpring.Models.SearchResultModel>

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

@{
    var query = Context.Request.Query["q"].ToString();
}

<h2>Search Results</h2>

@if (!Model.Results.Any())
{
    <p>No products found.</p>
}
else
{
    <div class="products-container">
        <div class="products-wrapper">
            <div class="product-grid">
                <div class="item-grid">
                    
                    @foreach (var product in Model.Results)
                    {
                        <div class="item-box">
                            <div class="product-item">
                                <h2 class="product-title">
                                    <a href="@product.ProductUrl"><span>@product.Brand</span><span class="man-no">@product.ItemNumber</span></a>
                                </h2>
                                <div class="picture">
                                    <a href="@product.ProductUrl">
                                        <div class="image-container">
                                            <img src="@product.ImageUrl" alt="@product.Name" />
                                        </div>
                                    </a>
                                </div>
                                <h2 class="product-title"><a href="@product.ProductUrl">@product.Name</a></h2>
                                <div class="prices">
                                    <span class="price old-price">Compare at @product.RetailPrice</span>
                                    <span class="price you-save">$124 Off</span>
                                    <span class="price-sale-tag">Sale</span>
                                    <span class="price actual-price">@product.Price</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    }
