@*
    // ***   ** ****** ****** ****** ******* **     ** ****** ***   ** **** ****
    // ****  ** **  ** **  ** **  **  **  **  **   **  **  ** ****  ** *    *
    // ** ** ** **  ** ****** ******  **  **   ** **   ****** ** ** ** *    ***
    // **  **** **  ** **     **  **  **  **    ***    **  ** **  **** *    *
    // **   *** ****** **     **  ** *******     *     **  ** **   *** **** ****
    // **************************************************************************
    // *                                                                         *
    // *    Minimum cart subtotal should be x.xx amount Plugin by NopAdvance team*
    // *    Copyright (c) NopAdvance LLP. All Rights Reserved.                   *
    // *                                                                         *
    // **************************************************************************
    // *                                                                         *
    // *    This software is licensed for use under the terms accepted during    *
    // *    the purchase of this product. A non-exclusive, non-transferable      *
    // *    right is granted to use this product on the website for which it was *
    // *    licensed.                                                            *
    // *                                                                         *
    // *    Companies purchasing this product for their customers are permitted, *
    // *    provided the use complies with the terms outlined in the EULA:       *
    // *    https://store.nopadvance.com/eula.                                   *
    // *                                                                         *
    // *    You may not reverse engineer, decompile, modify, or distribute this  *
    // *    software without explicit permission from NopAdvance LLP. Any        *
    // *    violation will result in the termination of your license and may     *
    // *    lead to legal action.                                                *
    // *                                                                         *
    // **************************************************************************
    // *    Contact: contact@nopadvance.com                                      *
    // *    Website: https://nopadvance.com                                      *
    // **************************************************************************
*@
@model RequirementModel

@{
    Layout = "";
}

<script>
    $(document).ready(function () {
        $('#savecartsubtotalrequirement@(Model.RequirementId)').click(function () {
            var cartSubTotal = $("#@Html.IdFor(model => model.CartSubTotal)").val();
            var discountId = @Model.DiscountId;
            var requirementId = @Model.RequirementId;
            if(cartSubTotal <= 0){
                alert('@T(LocaleResourceDefaults.CARTSUBTOTAL_POSITIVE_REQUIRED)');
                return false;
            }
            var postData = {
                DiscountId: discountId,
                RequirementId: requirementId,
                CartSubTotal: cartSubTotal
            };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action(SiteMapDefaults.DISCOUNT_REQUIREMENT_ACTION_NAME, SiteMapDefaults.CONFIGURE_CONTROLLER))",
                data: postData,
                success: function (data, textStatus, jqXHR) {
                    var $alertInfoEl = $("#savecartsubtotalrequirementAlert-info");
                    let response = jqXHR.responseJSON;
                    if (response instanceof Object && response.hasOwnProperty('Errors')) {
                        var errorMessages = '';
                        $.each(response.Errors, function (i, error) {
                            errorMessages += error;
                            if (response.Errors.length - 1 != i)
                                errorMessages += '</br>';
                        });
                        $alertInfoEl.html(errorMessages);
                        $("#savecartsubtotalrequirementAlert").click();

                        return;
                    }

                    $('#pnl-save-requirement-result@(Model.RequirementId)').fadeIn("slow").delay(1000).fadeOut("slow");
                    //notify parent if it's a new requirement
                    @if (Model.RequirementId == 0)
                    {
                        <text>$("#discountRequirementContainer").trigger('nopnewdiscountruleadded', [data.NewRequirementId]);</text>
                    }
                },
                error:function (xhr, ajaxOptions, thrownError){
                    var $alertInfoEl = $("#savecartsubtotalrequirementAlert-info");

                    // display default error
                    $alertInfoEl.html('@T("Admin.Promotions.Discounts.Requirements.FailedToSave")');

                    $("#savecartsubtotalrequirementAlert").click();
                }
            });
        });
    });
</script>

<div class="form-group row">
    <div class="col-md-3 requirement-label-col">
        <nop-label asp-for="CartSubTotal" />
    </div>
    <div class="col-md-9 requirement-data-col">
        <div class="requirement-data-input">
            <nop-editor asp-for="CartSubTotal" />
        </div>
        <div class="requirement-data-buttons">
            <input type="button" id="savecartsubtotalrequirement@(Model.RequirementId)" class="btn btn-primary" value="@T("Admin.Common.Save")" />
        </div>
    </div>
</div>
<div class="form-group">
    <div class="offset-md-3 col-md-9 requirement-messages-col">
        <div id="pnl-save-requirement-result@(Model.RequirementId)" style="display: none;" class="text-green margin-t-5">
            @T("Admin.Promotions.Discounts.Requirements.Saved")
        </div>
    </div>
</div>
<nop-alert asp-alert-id="savecartsubtotalrequirementAlert" />